body {
    transition: background 1s ease;
    background-color: #1C1818;
}

.fa {
    padding: 14px;
    font-size: 18px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 0.25em;
    border-radius: 2px;
   
}

.fa:hover {
    opacity: 0.7;
}


.fa-instagram {
    background: #E73C5C;
    color: white;
}
.fa-medium {
    background: black;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.small-title {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size:32px;
    font-weight:700;
    margin-bottom:0;
    line-height:1.25;
    padding:12px;
    
}
.large-title {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom:0.75em;
    padding-left:10px;
}

.col {
    padding-right:2em;
}
.profile-pic {
   width:100px;
   height:100px;
   margin-right:2em;
   margin-bottom:6em;
   
}

.col-effect {
    border: 2px solid white;

  
}
    .col-effect:hover {
       
        border: 2px solid black;
        border-style:dotted;
    }

.profile-paragraph {
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    opacity:0.8;
    margin-top: 0.5em;
    width: 400px;
    padding-left:1em;
    margin-bottom:0;
}
.profile-title {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    width: 50vw;
    color: white;
    line-height: 70px;
    margin-bottom: 0.5em;

}


.paragraph {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 300;
    color: #645D5D;
    width: 300px;
}

.project-title {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.25em;
}
.project-overhead {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 400;
    opacity: 0.66;
    color: #645D5D;
}

.project-pic {
    width: 70px;
    height: 102px;
    margin-right: 1em;
    margin-bottom: 2em;
    border: 1px solid black;
}

.last-project {
    margin-bottom:6em;
}